@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

:root {
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  background-color: #030712;
}

#form {
  background-color: #fff;
}
